@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');


h1 {

    font-family: "Notable", sans-serif;
}

h1,h1,h3 {
    font-family: "";
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 100px;
    color: black;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

h1{
    /* animation: spin 2s linear infinite; */
    filter:drop-shadow(2px 10px 2px gray );
}

nav {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    gap: 100px;
}

body {
    margin: 0;
    padding: 0;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 15x 20px;
    position: relative;
    transition: color 0.3s ease;
}

nav a::after {
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 4px;
    left: 50%;
    background: #F7E7CE;
    transition: all 0.3s ease; 
}

nav a:hover {
    color: #F7E7CE;
}

nav a:hover::after {
    width: 80%;
    left: 10%;
}

nav a.active {
    color: #F7E7CE
}